p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

p, h1, h2, h3, h4 { text-align:right;}
p, h1, h2, h3, h4 { direction: rtl;}

li { text-align:right;}
li { direction: rtl;}
